__pycache__/
*.pyc
*.pyo
*.pyd
*.env


# Virtual environments
venv/
.venv/

# Logs & Debug files
*.log
*.sqlite3

# Docker
*.db
*.pid
/tmp/
docker-compose.override.yml

# VS Code & PyCharm
.vscode/
.idea/

# Git
*.swp
.DS_Store
